

/* Create two equal columns that sits next to each other */

.row {
  text-align: center;
  padding-top: 50px;
}

.row div {
  padding-bottom: 20px;
}

img {
    width: 200px;
    height: 200px;
    background-color: grey;
}

.caption {
  display: block;
  padding-bottom: 50px;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: bold;
  background-color: lightgrey;
}

.right-content {
  padding-left: 10px;
}